<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Authors</title>
</head>
<body>
    <div class="d-flex justify-content-center m-4">
        <!-- create author -->
        <form action="/create_author" method="post" class="bg-dark text-light p-4 m-2 w-25">
            <h2 class="text-center text-primary">New Author:</h2>
        
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            
            <input type="submit" value="Create" class="btn btn-primary btn-outline-dark">
        </form>
        <!-- display all auhtors -->
        <div class="p-4 m-2 bg-dark text-light w-25">
                <h2 class="text-center text-light">All Authors</h2>
                <div>
                    {% for author in all_authors %}
                        <a href="/author/{{author.id}}" value={{author.id}}>{{author.name}}</a><br>
                        {% endfor %}
                </div>
            
        </div>
    </div>
    <!-- all_books link -->
    <p class="text-center"><a href="/all_books">Add Book</a></p>
        
</body>
</html>