<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="m-5 p-5">Counter</h1>
        <h2>This page has been seen {{request.session.counter}} time(s) since last session clear</h2>
        <form class='p-4' action="/destroy_session" method="post">
            {% csrf_token %}
            <button type="submit">Destroy</button>
        </form>
    </div>
</body>
</html>