{% extends 'base.html' %}

{% block content %}
    <h1>Here are our Users!!!</h1><br>
    <table class="table table-dark rounded">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at.strftime("%b %d %Y")}}</td>
                    <td>
                        <a href="/user/show/{{user.id}}">Show</a> |
                        <a href="/user/edit/{{user.id}}">Edit</a> |
                        <a href="/user/delete/{{user.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <a class="btn btn-primary col-2 align-self-start" href="/user/new">New User</a>
{% endblock %}