* {
    font-family:sans-serif;
    font-family: ;
}

h1 {
    background-color: black;
    color: white;
    text-indent: 10px;
    margin-bottom: 5px;
    padding: 3px;
}
h1 span {
    color: aqua;
}

h2 {
    background-color: blueviolet;
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;

}

h3 {
    background-color: darkturquoise;
    text-decoration: underline;
    text-align: right;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    padding-right: 10px;
}