div {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col, .col-2, .col-3 {
    flex: 1;
    background-color: rgb(51, 155, 165);
    color: whitesmoke;
    padding: 20px;
    margin: 10px; /* I dont't know how to delete space on R & L of each row */
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}